.my-container{
  width: 800px;
  margin: 20px auto;
  min-height: 300px;
  padding: 16px;
  box-shadow: rgb(0, 0, 0)0px 7px 29px 0px;
  background-color: rgb(38, 60, 160);
  border-radius: 20px;
}
@media (min-width:0px) and (max-width:546px) {
  .my-container{
    width: 300px;
  }
    
}
@media (min-width:546px) and (max-width:748px) {
  .my-container{
    width: 500px;
  }
}